USE [master];
GO

-- 1. Kiểm tra và tạo Database
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'OK2SHIP_SMT')
BEGIN
    CREATE DATABASE [OK2SHIP_SMT];
END
GO

-- 2. Cấu hình Database
ALTER DATABASE [OK2SHIP_SMT] SET READ_WRITE;
GO

 ----------------old
USE [OK2SHIP_SMT]
GO
/****** Object:  Table [dbo].[ACF_BONDING]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACF_BONDING](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Image_Before] [varbinary](max) NULL,
	[Image_After] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACF_FLATNESS]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACF_FLATNESS](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Point1] [nvarchar](max) NULL,
	[Point2] [nvarchar](max) NULL,
	[Point3] [nvarchar](max) NULL,
	[Point4] [nvarchar](max) NULL,
	[Point5] [nvarchar](max) NULL,
	[Point6] [nvarchar](max) NULL,
	[Point7] [nvarchar](max) NULL,
	[Point8] [nvarchar](max) NULL,
	[Point9] [nvarchar](max) NULL,
	[Point10] [nvarchar](max) NULL,
	[Flatness] [nvarchar](max) NULL,
	[Judgement] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACF_WETTING]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACF_WETTING](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Machine] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Side] [nvarchar](max) NULL,
	[After_Plasma] [nvarchar](max) NULL,
	[Before_Packing] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMERA_SMT]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMERA_SMT](
	[ID] [int] NOT NULL,
	[Process] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CROSS_SECTION]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROSS_SECTION](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image1] [varbinary](max) NULL,
	[Image2] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CROSS_SECTION_LOGFILE]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROSS_SECTION_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image1] [varbinary](max) NULL,
	[Image2] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDIT_HISTORY]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDIT_HISTORY](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Data_Before] [nvarchar](max) NULL,
	[Data_After] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[Date_Modify] [nvarchar](max) NULL,
	[Process] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAI_Auto]    Script Date: 3/6/2025 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAI_Auto](
	[Id] [int] NOT NULL,
	[ItemCode] [nvarchar](50) NULL,
	[LotNo] [nvarchar](50) NULL,
	[Operator] [nvarchar](50) NULL,
	[Machine] [nvarchar](50) NULL,
	[MDate] [nvarchar](50) NULL,
	[FAI_No] [nvarchar](50) NULL,
	[FAI_Data] [nvarchar](50) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAI_Spec]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAI_Spec](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[NormDim] [nvarchar](max) NULL,
	[TolMax] [nvarchar](max) NULL,
	[TolMin] [nvarchar](max) NULL,
	[Instrument] [nvarchar](max) NULL,
	[FAI_No] [nvarchar](max) NULL,
	[Distribution] [nvarchar](max) NULL,
	[SheetNo] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLEX_BENDING]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLEX_BENDING](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Sel_report] [nvarchar](max) NULL,
	[Before] [nvarchar](max) NULL,
	[After_1] [nvarchar](max) NULL,
	[After_2] [nvarchar](max) NULL,
	[After_3] [nvarchar](max) NULL,
	[After_4] [nvarchar](max) NULL,
	[After_5] [nvarchar](max) NULL,
	[After_10] [nvarchar](max) NULL,
	[After_15] [nvarchar](max) NULL,
	[After_20] [nvarchar](max) NULL,
	[After_25] [nvarchar](max) NULL,
	[After_30] [nvarchar](max) NULL,
	[After_40] [nvarchar](max) NULL,
	[After_50] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLEX_BENDING_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLEX_BENDING_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Cycles_name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLEX_BENDING_LOGFILE_OLD]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLEX_BENDING_LOGFILE_OLD](
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Cycles_name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAP_CONNECTOR]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAP_CONNECTOR](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Image1] [varbinary](max) NULL,
	[Image2] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAP_CONNECTOR_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAP_CONNECTOR_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Image1] [varbinary](max) NULL,
	[Image2] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEAT_SOAK_AND_BEND]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEAT_SOAK_AND_BEND](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Sel_report] [nvarchar](max) NULL,
	[Before] [nvarchar](max) NULL,
	[After_1] [nvarchar](max) NULL,
	[After_2] [nvarchar](max) NULL,
	[After_3] [nvarchar](max) NULL,
	[After_4] [nvarchar](max) NULL,
	[After_5] [nvarchar](max) NULL,
	[After_10] [nvarchar](max) NULL,
	[After_15] [nvarchar](max) NULL,
	[After_20] [nvarchar](max) NULL,
	[After_25] [nvarchar](max) NULL,
	[After_30] [nvarchar](max) NULL,
	[After_40] [nvarchar](max) NULL,
	[After_50] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEAT_SOAK_AND_BEND_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEAT_SOAK_AND_BEND_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Cycles_name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_LINER_PEELING_COUPON]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_LINER_PEELING_COUPON](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_LINER_PEELING_COUPON_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_LINER_PEELING_COUPON_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_PSA_PEELING_COUPON]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_PSA_PEELING_COUPON](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_PSA_PEELING_COUPON_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_PSA_PEELING_COUPON_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_UNMATING_PULL_TEST]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_UNMATING_PULL_TEST](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IQC_UNMATING_PULL_TEST_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IQC_UNMATING_PULL_TEST_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items_Details]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items_Details](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[Items] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINER_PEEL_TEST_ON_PRODUCT]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINER_PEEL_TEST_ON_PRODUCT](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINER_PEEL_TEST_ON_PRODUCT_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINER_PEEL_TEST_ON_PRODUCT_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATING_PULL_TEST]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATING_PULL_TEST](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATING_PULL_TEST_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATING_PULL_TEST_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modify_Log]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modify_Log](
	[ID] [int] NOT NULL,
	[User_ID] [nvarchar](max) NULL,
	[User_Action] [nvarchar](max) NULL,
	[Before_Val] [nvarchar](max) NULL,
	[After_Val] [nvarchar](max) NULL,
	[FAI_No] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NET_SPEC]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NET_SPEC](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[Sel_Report] [nvarchar](max) NULL,
	[Net_Name] [nvarchar](max) NULL,
	[Point+V] [nvarchar](max) NULL,
	[Point-V] [nvarchar](max) NULL,
	[Net_Internal] [nvarchar](max) NULL,
	[USL] [nvarchar](max) NULL,
	[LSL] [nvarchar](max) NULL,
	[SEI_USL] [nvarchar](max) NULL,
	[SEI_LSL] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NET_SPEC1]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NET_SPEC1](
	[ID] [int] NULL,
	[ItemCode] [nvarchar](max) NULL,
	[SeI_Report] [nvarchar](max) NULL,
	[Net_Name] [nvarchar](max) NULL,
	[Point+V] [nvarchar](max) NULL,
	[Point-V] [nvarchar](max) NULL,
	[Net_Internal] [nvarchar](max) NULL,
	[USL] [nvarchar](max) NULL,
	[LSL] [nvarchar](max) NULL,
	[SEI_USL] [nvarchar](max) NULL,
	[SEI_LSL] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEEL_TEST]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEEL_TEST](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEEL_TEST_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEEL_TEST_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSA_PEEL_TEST_ON_PRODUCT]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSA_PEEL_TEST_ON_PRODUCT](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSA_PEEL_TEST_ON_PRODUCT_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSA_PEEL_TEST_ON_PRODUCT_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ID] [int] NULL,
	[ItemCode] [nvarchar](255) NULL,
	[LotNo] [nvarchar](255) NULL,
	[Items] [nvarchar](255) NULL,
	[Results] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roughness]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roughness](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Machine] [nvarchar](max) NULL,
	[MDate] [nvarchar](max) NULL,
	[L1_Roughness_Sa] [nvarchar](max) NULL,
	[L1_Roughness_Sq] [nvarchar](max) NULL,
	[L1_Roughness_Sdr] [nvarchar](max) NULL,
	[L2_Roughness_Sa] [nvarchar](max) NULL,
	[L2_Roughness_Sq] [nvarchar](max) NULL,
	[L2_Roughness_Sdr] [nvarchar](max) NULL,
	[L3_Roughness_Sa] [nvarchar](max) NULL,
	[L3_Roughness_Sq] [nvarchar](max) NULL,
	[L3_Roughness_Sdr] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHEAR_TEST]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHEAR_TEST](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHEAR_TEST_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHEAR_TEST_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Sample] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Graph] [varbinary](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Mode 1: Solder joint crack] [nvarchar](max) NULL,
	[Mode 2: Pad lift] [nvarchar](max) NULL,
	[Mode 3: Solder joint lift] [nvarchar](max) NULL,
	[Mode 4: Intermetallic break] [nvarchar](max) NULL,
	[Mode 5: Component damage] [nvarchar](max) NULL,
	[Mode 6: Component detached] [nvarchar](max) NULL,
	[Mode 7: Flex torn] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[Time_Update] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPEC_COMMENT_3]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPEC_COMMENT_3](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[Sheet] [nvarchar](max) NULL,
	[Count_Sample] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THERMAL_CYCLING_AND_BEND]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THERMAL_CYCLING_AND_BEND](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Sel_report] [nvarchar](max) NULL,
	[Before] [nvarchar](max) NULL,
	[After_1] [nvarchar](max) NULL,
	[After_2] [nvarchar](max) NULL,
	[After_3] [nvarchar](max) NULL,
	[After_4] [nvarchar](max) NULL,
	[After_5] [nvarchar](max) NULL,
	[After_10] [nvarchar](max) NULL,
	[After_15] [nvarchar](max) NULL,
	[After_20] [nvarchar](max) NULL,
	[After_25] [nvarchar](max) NULL,
	[After_30] [nvarchar](max) NULL,
	[After_40] [nvarchar](max) NULL,
	[After_50] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THERMAL_CYCLING_AND_BEND_LOGFILE]    Script Date: 3/6/2025 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THERMAL_CYCLING_AND_BEND_LOGFILE](
	[ID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NULL,
	[LotNo] [nvarchar](max) NULL,
	[Net_No] [nvarchar](max) NULL,
	[Pcs_No] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Logfile] [nvarchar](max) NULL,
	[Cycles_name] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[UserID] [nvarchar](max) NULL,
	[ItemName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
